

# --- Extensiones Permitidas ---
# (En Git, por defecto se sube todo, así que solo ignoramos lo que no queremos)
*.aux
*.bbl
*.bCF
*.blg
*.log
*.out
*.xml
*.gz
*.toc
*.gitignore

# --- Reglas de Carpetas ---

# Bloquear la carpeta /libros completa
/libros/
/.venv/
